
.about h3, h6 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}

.about p {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
}

.about ul li {
    font-family: 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}