

@media only screen and (max-width: 480px) {
      .dash-container { 
        padding: 10px 20px;
        background-color: white;
    }   

    .dash-container h1 {
        margin: 20px 0px;
    }
    .dash-header  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }

    .dash-cards {
        font-size: calc(8px + 2vmin);
        width: 300px;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        height: 180px;
        margin: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }
    .dash-cards-text {
        background: rgba(248, 245, 245, 0.7);
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dash-cards-text h5 {
        text-align: center;
        font-weight: 600;
        color: black;
    }

    .dash-cards-text li {
        list-style: none;
        font-size: 14px;
        text-align: center;
    }

    .dash-cards-text ul {
        margin: 0px;
        padding: 0px;
    }

     .dash-container button a {
        color: white;
    }

    .dash-container button {
         background-color: white;
        border: 2px solid #02383c;
        color: black;
        font-weight: 600;
        width: 150px;
        height: 40px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .dash-container button:hover {
        background-color: #02383c;
    }
     .dash-container button:hover a {
        color: white;
        text-decoration: none;
    }

    .dash-header a {
        text-decoration: none !important;
    }
    .dash-cards-text h5:hover {
        color: #ed3833;
    }
    
    
}

@media only screen and (min-width: 481px) {
     .dash-container { 
        padding: 10px 20px;
        background-color: white;
    }   

    .dash-container h1 {
        margin: 20px 0px;
    }
    .dash-header  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }

    .dash-cards {
        font-size: calc(8px + 2vmin);
        width: 400px;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        height: 300px;
        margin: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }

    .dash-cards-text {
        background: rgba(248, 245, 245, 0.7);
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dash-cards-text h5 {
        text-align: center;
        font-weight: 500;
        color: black;
    }

    .dash-cards-text li {
        list-style: none;
        font-size: 16px;
        text-align: center;
    }

    .dash-cards-text ul {
        margin: 0px;
        padding: 0px;
    }

     .dash-container button a {
        color: white;
    }

    .dash-container button {
        background-color: #02383c;
        border: 2px solid #02383c;
        color: white;
        font-weight: 600;
        width: 200px;
        height: 40px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .dash-container button:hover {
        background-color: white;
    }
     .dash-container button:hover a {
        color: black;
         text-decoration: none;
    }

    .dash-header a {
        text-decoration: none !important;
    }
    .dash-cards-text h5:hover {
        color: #ed3833;
    }


}

@media only screen and (min-width: 1024px) {
    .dash-container { 
        padding: 10px 20px;
        background-color: black;
    }   

    .dash-container h1 {
        margin: 20px 0px;
        text-align: center;
        color: lightblue;
    }
    .dash-header  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }

    .dash-cards {
        font-size: calc(8px + 2vmin);
        width: 400px;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        height: 300px;
        margin: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }

    .dash-cards-text {
        background: rgba(248, 245, 245, 0.7);
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dash-cards-text h5 {
        text-align: center;
        font-weight: 600;
        color: black;
        font-family: 'Montserrat', sans-serif;
        /* line-height: 30px; */
    }

    .dash-cards-text li {
        list-style: none;
        font-size: 14px;
        text-align: center;
          font-family: 'Helvetica Neue', sans-serif;
        line-height: 1.6em;
        font-weight: 400
    }

    .dash-cards-text ul {
        margin: 0px;
        padding: 0px;
    }

     .dash-container button a {
        color: white;
        text-decoration: none;
    }

    .dash-container button {
        background-color:  #02383c;
        border: 2px solid #02383c;
        font-weight: 600;
        width: 200px;
        height: 40px;
        border-radius: 4px;
        margin-top:20px;
        margin-bottom: 20px; 
        margin-left: 60px;
        font-family: 'Montserrat', sans-serif;
    }
    .dash-container button:hover {
        background-color: white;
        border: 2px solid #9d0191;
    }
     .dash-container button:hover a {
        color: black;
    }

    .dash-header a {
        text-decoration: none !important;
    }
   .dash-cards-text h5:hover {
        color: #9d0191; 
    }
}
    /* .jumbotron {
        background-color: black !important;
        color: white;
        height: 400px; 
        margin-top: 10px;
    } 

    .jumbotron h1 {
        padding: 20px 0px;
    } 

    .jumbotron button {
        align-content: center;
    } */