.home-container {
    padding: 100px 20px;
    background-image: url(https://images.unsplash.com/photo-1557957002-a0e8957e0e07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-message {
    /* text-align: center; */
    color: black;
    background: rgba(255, 255, 255, 0.9);
    width: 500px;
    height: auto;
    border-radius: 3px;
    padding: 20px;
}

.home-message h6 {
    font-weight: 700;
}