
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem !important;
        padding-left: 3.5rem !important;
    }


}

/* My Training Log - Title Text */
.title-nav a {
    text-decoration: none;
    color: black;
}
.title-nav a:hover {
    text-decoration: none;
    color: #056674;
}


/* Workouts and Account text */
#basic-nav-dropdown {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
#basic-nav-dropdown:hover {
    color: #056674;
   
}

/* Dashboard text */
.ml-auto .nav-link a {
    color:black;
    text-decoration: none;
    font-weight: 500;
}

.ml-auto .nav-link a:hover {
    color:#056674;
}

/* Dropdown text */
.dropdown-item a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: #056674;
     text-decoration: none;
}


/* Logout */
.logout-button a:hover {
    color: red;
}