/* Slider for exertion level */
input[type=range].range-slider.range-slider--sm {
  padding: 1.25rem 0;
}

/* Favorite's switch */
.custom-switch {
  padding-top: 0.5rem;
}

.form-background {
    background-image: url(https://images.unsplash.com/photo-1518789013127-40b4f36a2eb1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1248&q=80);
    height: 100%;
    min-height: 100vh;
    background-position: 0px -18px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
}

.form-container button {
   margin-left: 10px;
   width: 120px;
   height: auto;
   font-weight: 500;
}

.form-container {
    max-width: 800px;
    margin: auto;
    /* border: 4px solid #16697a; */
    border-radius: 4px;
    padding: 10px 0px;
    background-color: white;
    
}

.form-container .form-row>.col {
    padding-right: 30px;
}

.form-container label {
    font-weight: bold;
}

.form-container h1 {
    /* text-align: center; */
    padding: 10px 15px;
}

.form-container #distance {
    width: 15%;
}

.form-container #time {
    width: 30%;
    
}

.form-container #date {
    width: 60%;
}

.form-container #sport {
    width: 60%;
}