

@media only screen and (max-width: 480px) {
    .login-form-container {
        /* Photo by <a href="https://unsplash.com/@joshgordon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Josh Gordon on Unsplash</a></span> */
        padding: 200px 20px;
    	background-image: url(https://images.unsplash.com/photo-1600807497639-3b5d8e74a232?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }   
}

.login-form-container h1 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .login-form-container {
        /* Photo by <a href="https://unsplash.com/@joshgordon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Josh Gordon on Unsplash</a></span> */
        padding: 200px 20px;
    	background-image: url(https://images.unsplash.com/photo-1600807497639-3b5d8e74a232?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80);
		height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
}

@media only screen and (min-width: 1024px) {
    .login-form-container {
        /* Photo by <a href="https://unsplash.com/@joshgordon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Josh Gordon on Unsplash</a></span> */
        padding: 200px 20px;
    	background-image: url(https://images.unsplash.com/photo-1600807497639-3b5d8e74a232?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80);
		height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}   
}