.App {
  text-align: center;
  padding-bottom: 100px;
  height: 100%;
  min-height: 100%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


.dash-header, .workout-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.dash-titles {
  /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  font-size: calc(8px + 2vmin);
  width: 300px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  height: 400px;
  margin: 15px;
  padding: 0px;
  background-color: lightgray;
}

.workout-card {
  font-size: calc(8px + 2vmin);
  width: 700px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  height: auto;
  margin: 15px;
  padding: 0px;
  background-color: white;
}

td {
  border-top: 0px solid white !important; 
}

thead {
  border-bottom: 3px solid #dee2e6;
}

thead tr {
  background-color: lavender;
}

/* 
.dash-titles {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 0;
  padding-left: 0;
} */

/* .dash-titles li {
  margin-left: 80px;
  margin-right: 16px;
  padding-right: 16px;
  position: relative;
  list-style: none;
} */